<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>helloForm</title>
</head>
<body>
    <form action='/hello' method='get'>
        <input type='text' name='name'>
        <label for='lang'></label>
        <select id='lang' name='lang'>
            <option value='English'>English</option>
            <option value='Badenglish'>Bad English</option>
            <option value='Senglish'>Southern English</option>
            <option value='Spanglish'>Spanglish</option>
            <option value='Klingon'>Klingon</option>
        </select>
        <input type='submit' value='Greet me!'>
    </form>
</body>
</html>